body {
    text-align: center;
    background: url("../images/anfield1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(160, 28, 28);
    background-position-x: center;
}

section {
    border: 2px solid rgb(129, 9, 9);
    max-width: 40rem;
    margin: auto;
    margin-top: 2rem;
    background: white;
}

img {
    height: 15rem;
}

ul {
    padding: 0;
}

@media (max-width: 1425px) { 

    body {
        background-size: auto;
        background-repeat: no-repeat;
        background-position-x: center;
    }   
 }
